<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>book</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp"
          crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Digital Library</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/books">Books</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Authors</a>
            </li>
        </ul>
    </div>
</nav>
<p th:text="${book.getName()}+', '+${book.getAuthor()}+', '+${book.getYear()}">VALUE</p>

<br>
<div th:if="${book.getPerson()}==null">
    <p>This book has no reader. You can assign it to reader</p>
    <form th:method="PATCH" th:action="@{/books/{id}/add(id=${book.getId()})}">
        <label for="pep">Choose reader</label>
        <select th:object="${person}" th:field="*{id}" id="pep">
            <option th:each="pers:${people}" th:value="${pers.getId()}" th:text="${pers.getName()}"></option>
        </select>
        <input type="submit" value="Assign a book">
    </form>
</div>
<div th:if="${book.getPerson()}!=null" >
    <p th:text="${book.getPerson().getName()}+' is reading this book now'">Sample text</p>

    <form th:method="PATCH" th:action="@{/books/{id}/delete(id=${book.getId()})}">
        <input type="submit" value="Detach book">
    </form>
</div>
<br>
<form th:method="GET" th:action="@{/books/{id}/edit(id=${book.getId()})}">
    <input type="submit" value="Edit this book">
</form>
<br>
<form th:method="DELETE" th:action="@{/books/{id}(id=${book.getId()})}">
    <input type="submit" value="Delete this book from the library">
</form>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.min.js"
        integrity="sha384-heAjqF+bCxXpCWLa6Zhcp4fu20XoNIA98ecBC1YkdXhszjoejr5y9Q77hIrv8R9i" crossorigin="anonymous"></script>



</body>
</html>